/* ================== GOOGLE FONTS ===================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

/* Color palette: fundo #0F061D  lilás #BEB7D1 mais int #9581EB  verde #00A985   */
/*  #FC814A branco quente #FFFADE branco frio #FCF7FF */

/*============== VARIABLES CSS =======================*/
:root {
    background: #0f061d;
    /* ------------ COLORS --------------------*/
    --hue-color: rgba(15, 6, 29, 1);

    --first-color: ;
    --body-color-dark: #1e0d3ab9;
    --body-color-light: #e4d8b4;
    --container-color-dark: rgba(30, 13, 58, 0.726);
    --container-color-light: #d2c59d;
    --orange: #e4572e;
    --orange2: #FC814A;


    /* ------------ Font and typography --------------------*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav {
	position: sticky;
	display: flex;
  display: -webkit-flex;
	justify-content: space-between;
	align-items: baseline;
  vertical-align: middle;
	height: 60px;
	top: 10px;
	background: #180c2b;
  border-radius: 10px;
  z-index: 500;
  box-shadow: 0 1px 5px 0 rgba(15, 6, 29, 1), 0 1px 5px 0 rgba(15, 6, 29, 1);
}

.nav__link {
  margin: 0px 30px;
  font-family: Dongle;
  font-size: 30px;
}

.nav__item {
  display: inline-block;
  margin: 0px 30px;
  padding: 1px;
  border-width: 25px;
}

.nav__list * {
  color: #BEB7D1;
}

.nav__item a:before,
.nav__item a:after {
  height: 5px;
  width: 10px;
  padding: 5px;
  margin: -3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav__item a:before {
  border-left: 3px solid #e4572e;
  border-top: 3px solid #e4572e;
  -webkit-transform: translate(120%, 50%);
  transform: translate(120%, 50%);
}

.nav__item a:after {
  border-right: 3px solid #e4572e;
  border-bottom: 3px solid #e4572e;
  -webkit-transform: translate(-120%, -50%);
  transform: translate(-120%, -50%);
}

.nav__item a:hover,
.nav__item .current a {
  color: #FFFADE;
}

.nav__item a:hover:before,
.nav__item .current a:before,
.nav__item a:hover:after,
.nav__item .current a:after {
  padding: 0.6rem;
  -webkit-transform: translate(-45%, 12%);
  transform: translate(-45%, 12%);
  opacity: 1;
}

.home__all{
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  height: 100vh;
}

.home__data{
  float: left;
  width: 30vw;
}

.home__title {
  width: 9.5ch;
  animation: typing 2s steps(13), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  top: 27vh;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.text1{
  float: right;
  width: 60vw;
}

@media screen and (max-width: 1140px) {
  .home__all {
    width: 100%;
    height: auto;
  }

  .home__data, .home__title{
    height: 80px;
    margin-bottom: 3rem;
    top: 6vh;
    width: 10ch;
  }

  h1{
    padding-left: 1rem;
  }

  .text1{
    padding: 3.5rem;
    top: 20%;
    width: 100vw;
    padding-left: 1rem;
  }

  .text1 p{
    margin-left: -60px;
  }

}

.home__data{
  padding: 1.5rem;
}

.text1{
  padding-left: 4rem;
}

.text1 p{
  padding-left: 1rem;
}

h1{
    font-weight: bold;
    color: #FFFADE;
    text-shadow: 0 0 5px rgb(194, 151, 250), 0 0 10px rgba(136, 35, 231, 0.685), 0 0 20px #240b53, 0 0 25px #1b0733;
    transition: 0.2s;
    font-family: Roboto;
    font-size: 7.5ch;
    position: relative;
    margin-left: 2rem;
}

p{
    font-family: Roboto Mono;
    font-size: medium;
    line-height: 2rem;
    color: #BEB7D1;
    align-content: center;
    text-align: justify;
    top: 50vh;
}

p a{
  color: #BEB7D1;
}

p a:hover{
  color: #FFFADE;
}

.subtitle{
  font-weight: bolder;
  font-size: x-large;
  font-family: Roboto;
}

.text1{
  margin: 30px;
  bottom: 25px;
}


.tcontainer {
  max-width: 650px;
  margin: 50px auto;
}

/*timeline style*/
.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: #FCF7FF;
}

.r__subtitle{
  margin-top: 10rem;
  padding-left: 2rem;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #9581EB;
}

.timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
}

.timeline-body {
    background: #180c2b;
    border-radius: 10px;
    padding: 20px 20px 15px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.377);
}

.timeline-body:before {
  content: '';
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}


.timeline-title {
  background: linear-gradient(to right top, #87d5c0, #77d6aa, #76d68a, #83d363, #9acd32);;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 1.1px;
 }

 .timeline-title2 {
  background: linear-gradient(to right top, #f9f87f, #fad46b, #f4b160, #e6905d, #d1725c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 1.1px;
 }

.timeline-subtitle {
  font-weight: 300;
  font-style: italic;
  opacity: .4;
  margin-top: 16px;
  font-size: 11px;
  color: #FCF7FF;
}

/* Current Timeline*/

.timeline-current {
  position: absolute;
  left: -88px;
  top: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background-image: linear-gradient(to right top, #87d5c0, #77d6aa, #76d68a, #83d363, #9acd32);
}

.timeline-current2 {
  position: absolute;
  left: -88px;
  top: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background-image: linear-gradient(to right top, #f9f87f, #fad46b, #f4b160, #e6905d, #d1725c);
}

h2{
    font-family: Roboto;
    font-size: 40px;
    font-variant-caps: all-petite-caps;
    color: #FFFADE;
    align-content: center;
    margin: 2rem;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #240b53;
    text-decoration: underline;
    text-decoration-color: #e4572e;
    text-underline-offset: 4px;
}

.rtext{
  padding:100px;
}

.rtext p{
  font-family: Roboto Mono;
  font-size: 16px;
  line-height: 30px;
  color: #BEB7D1;
  align-content: center;
  text-align: justify;
}

.timeline-body p {
  font-size: 14px;
  color: #FCF7FF;
}

.collapsible {
  background-color: #180c2b;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  margin: 18px;
  width: 20px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.bi-plus-circle:hover {
  background-color: rgb(252, 252, 252);
  color: #180c2b;
  border-radius: 50px;
  border: none;
}


.bi-plus-circle:focus {
  background-color: rgb(252, 252, 252);
  color: #180c2b;
  border-radius: 50px;
  transition: .3s transform ease-in-out;
  transform: rotate(-15deg);
 }

.col__content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #180c2b;
  text-align: justify;
  color: #BEB7D1;
}

.uni{
  font-family: Roboto Mono;
  font-size: 16px;
}

.footer{
  position: relative;
  bottom: 1rem;
  padding: 2rem;
  width: 100%;
}

h3{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #0F061D;
}

