@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

:root{
  color-scheme: dark;
  --bg-color: #0F061D;
  --bg-shadow: #0F061D90;
  --primary: #BEB7D1;
  --main-text: #FFFADE;
  --cold-text: #FCF7FF;
  --highlight-green: #77AF7A;
  --highlight-orange: #EE9479 /*B46F61 is darker but similar*/;
  --container-color-light: #d2c59d;
  --bt-icon: url("moon-stars-fill.svg");
  
}

[color-scheme = "light"]{
  color-scheme: light;
  --bg-color: #FFFADE;
  --bg-shadow: #FCF7FF;
  --primary: #9581EB;
  --main-text: #0F061D;
  --cold-text: #0F061D90;
  --highlight-green: #77AF7A;
  --highlight-orange: #EE9479 /*B46F61 is darker but similar*/;
  --container-color-light: #d2c59d;
  --container-color-dark: rgba(30, 13, 58, 0.726);
  --bt-icon: url("sun-fill.svg");
}

html{
  scroll-behavior: smooth;
  background: #9581EB;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 6vh;
}

body {
  margin: 0;
  background: var(--bg-color);
  font-family: Roboto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: background 0.2s linear;
}

.body-wrap {
  position: fixed;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  background: var(--bg-color);
  border-radius: 10px;
  padding: 3vh;
  text-align: center;
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #BEB7D1;
  border-radius: 5px;
}

/* ===========================NAV============================ */

.navbar {
	background: var(--highlight-orange);
  border-radius: 10px;
  z-index: 500;
  box-shadow: 0 1px 5px 0 rgba(15, 6, 29, 1), 0 1px 5px 0 rgba(15, 6, 29, 1);
  display: flex;
  display: -webkit-flex;
	justify-content: space-between;
}

.navbar-brand {
  margin: 0px 30px;
  font-family: Dongle;
  font-size: 30px;
}

.nav-list {
  justify-content: space-between;
}

.nav-item, .nav-checkbox {
  display: inline-block;
  text-decoration: none;
  position: relative;
  align-content: center;
  padding: 1vh;
}

.nav-item li > a:hover,
.nav-item .current a {
  color: var(--main-text);
}

.nav-item li > a::before {
  position: absolute;
  content: "";
  width: calc(100% - 1px);
  height: 1px;
  background: var(--cold-text);
  bottom: -6px;
  left: 0;

  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  z-index: -1;

  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.nav-item:hover::before,
.nav-item.active::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.checkbox {
  height: 25px;
  width: 25px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: inherit;
  border-radius: 50px;
  transition: 0.6s;
  border: var(--bg-shadow);
  background: var(--bt-icon) no-repeat center var(--main-text);

}

.checkbox:checked {
  background: url("sun-fill.svg") no-repeat center var(--bg-shadow);
}

.checkbox:hover{
  background-color: var(--bg-shadow);
}


img {
  --s: 10px; /* control the size */
  display: block;
  width: 80%;
  object-fit: cover;
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}





