/* ================== GOOGLE FONTS ===================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

/* Color palette: fundo #0F061D  lilás #BEB7D1 mais int #9581EB  verde #00A985   branco quente #FFFADE branco frio #FCF7FF*/


/*============== VARIABLES CSS =======================*/
:root {
    background: rgba(15, 6, 29, 1);
    /* ------------ COLORS --------------------*/
    --hue-color: rgba(15, 6, 29, 1);

    --first-color: ;
    --body-color: rgba(30, 13, 58, 0.726);
    --container-color: rgba(30, 13, 58, 0.726);

    /* ------------ Font and typography --------------------*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 10px;
	background: #180c2b;
  border-radius: 10px;
}

.nav__link {
  margin: 0px 30px;
  vertical-align: middle;
  font-family: Dongle;
  font-size: 30px;
}

.nav__item {
  display: inline-block;
  text-align: center;
  margin: 0px 30px;
  padding: 2px;
}

.nav__list * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  color: #BEB7D1;
}

.nav__item a:before,
.nav__item a:after {
  height: 10px;
  width: 10px;
  padding: 4px;
  margin: -2px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.nav__item a:before {
  border-left: 3px solid #e4572e;
  border-top: 3px solid #e4572e;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.nav__item a:after {
  border-right: 3px solid #e4572e;
  border-bottom: 3px solid #e4572e;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.nav__item a:hover,
.nav__item .current a {
  color: #FFFADE;
}
.nav__item a:hover:before,
.nav__item .current a:before,
.nav__item a:hover:after,
.nav__item .current a:after {
  -webkit-transform: translate(-40%, 15%);
  transform: translate(-40%, 15%);
  opacity: 1;
}

.home__all{
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;  
}

.home__data{
  flex: 30%;
  -ms-flex: 30%;
}

.home__title {
  width: 10ch;
  animation: typing 2s steps(13), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  top: 35%;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.text1{
  flex: 55%;
  -ms-flex: 55%;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .home__all {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
  }
  div.content {margin-left: 0;}

  .home__data, .home__title{
    height: 80px;
    position: relative;
  }

  .home__data{
    top: 10%;
  }

}

.home__data, .text1{
  padding: 20px;
  height: 100vh;
}

h1{
    font-weight: bold;
    color: #FFFADE;
    text-shadow: 0 0 5px rgb(194, 151, 250), 0 0 10px rgba(136, 35, 231, 0.685), 0 0 20px #240b53, 0 0 25px #1b0733;
    transition: 0.2s;
    font-family: Roboto;
    font-size: 80px;
    text-align: center;
    position: fixed;
}

p{
    font-family: Roboto Mono;
    font-size: 16px;
    line-height: 30px;
    color: #BEB7D1;
    align-content: center;
    text-align: justify;
}





















